/* ====== Variables, Reset und allgemeines Styling */

:root {
  --clr-primary-dark: #323a45;
  --clr-secondary-light: #848484;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
  color: var(--clr-primary-dark);
  padding: 0 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ====== Navbar Styling */

/* === Navbar Grid */
.navbar {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-areas: "headline headline links";
  padding: 1.5rem 0;
}

.navbar-headline {
  grid-area: headline;
  font-size: 1.5rem;
  font-weight: 700;
}

.navbar-list {
  grid-area: links;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-weight: 500;
}

/* ====== Main Styling */

/* === Text Styling */

.item-name,
.item-price,
.item-company {
  font-weight: 400;
  font-size: 1.05rem;
}

.item-company {
  font-size: 0.95rem;
  color: var(--clr-secondary-light);
}

/* === Set Main Grid Layout */
.item-grid-layout {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 1.5rem;
  grid-template-areas:
    "main-item main-item main-item"
    "second-item third-item fourth-item"
    "fifth-item sixth-item seventh-item";
}
.item-grid-layout:not(.item-grid-layout:last-of-type) {
  margin-bottom: 2rem;
}

.main-item {
  grid-area: main-item;
}
.second-item {
  grid-area: second-item;
}
.third-item {
  grid-area: third-item;
}
.fourth-item {
  grid-area: fourth-item;
}
.fifth-item {
  grid-area: fifth-item;
}
.sixth-item {
  grid-area: sixth-item;
}
.seventh.item {
  grid-area: seventh-item;
}

/* === Set Item Grid Layout */
.item-grid {
  display: grid;
  grid-auto-columns: 1fr;
  margin-top: 0.6rem;
  gap: 0.6rem;
  grid-template-areas:
    "name name price"
    "company company company";
}

.item-name {
  grid-area: name;
}

.item-price {
  text-align: right;
  grid-area: price;
}

.item-company {
  grid-area: company;
}

/* === Image Styling */
img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

/* ====== Footer Styling */

/* ====== Display: none for styling */

footer,
.none {
  display: none;
}
